@import "~typeface-poppins/index.css";
@import "~typeface-ibm-plex-sans/index.css";
@import "./colors.scss";
@import "./DonationCard.scss";
@import "./Admin.scss";

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: $ocean-20;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "IBM Plex Sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  font-weight: 700;
}

p {
  font-size: 1.2rem;
}

button {
  background-color: $mint;
  border: 0;
  border-radius: 0 $border-radius $border-radius 0;
  color: $white;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.3rem;
  padding: 0px 20px;
  &:disabled {
    filter: opacity(0.5);
  }
}

.switch-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-wrapper > div {
  position: absolute;
}
