@import "../colors.scss";

$border-radius: 10px;

.card-container {
  width: 32.5rem;
}

.card-top {
  background-color: $ocean-30;
  border-radius: $border-radius;
  margin-bottom: 15px;
}

.progress-text-arrow {
  position: relative;
  z-index: 1;
  padding: 10px;
  &:before {
    bottom: -10px;
    right: 20px;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    z-index: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid $ocean-30;
  }
}

.progress-text {
  color: $ocean-80;
  margin: 0;
}

.card-main {
  background: $white;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 40px;
  position: relative;
  height: 15rem;
  box-shadow: 0px 7.5px 7.5px $slate-30;
}

.progress-bar {
  border-radius: $border-radius $border-radius 0 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 100%;
  background: $mint-40;
  overflow: hidden;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $mint;
  transition: width 0.25s ease;
}

.donation-card-text {
  padding: 25px 0;
}

.form {
  display: flex;
  label {
    flex: 1;
  }
  input {
    border-radius: $border-radius 0 0 $border-radius;
    padding: 15px 20px;
    width: 100%;
    border-top: 1px solid $slate-40;
    border-left: 1px solid $slate-40;
    border-bottom: 1px solid $slate-40;
    border-right: 0;
    font-size: 1.75rem;
    font-weight: 700;
  }
  button {
    background-color: $mint;
    border: 0;
    border-radius: 0 $border-radius $border-radius 0;
    color: $white;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1.3rem;
    padding: 0px 20px;
  }
}

.aria-text {
  position: absolute;
  text-indent: -9999px;
}
